<h3>Admin console</h3>

<p>Create new group button</p>
<p>Manage Groups list</p>
<p>Manage Users</p>

<p>--- other tasks</p>
<p>password reset</p>
<p>add admin restrictions</p>
<p>user profile</p>
<p>search function + index</p>