<h3>Admin console</h3>
<div class="row">
	<div class="span4">
		<ul>
			<li><%= link_to "New group", new_group_path, class: "btn btn-medium btn-primary" %></li>
			<%= render 'groups/groups' %>
		</ul>
	</div>
</div>

<p>Manage Groups list</p>
<p>Manage Users</p>

<p>--- other tasks</p>
<p>password reset</p>
<p>add admin restrictions</p>
<p>user profile</p>
<p>search function + index</p>