<% if @applications.count > 0 %>
	<h3>New applications (<%= @applications.count %>)</h3>
	<table class="table table-striped">
		<tr><th>Applicant</th><th>Accept</th><th>Decline</th></tr>
		<% for a in @applications %>
			<tr>
				<td>
					<% user = User.find(a.user_id) %>
					<%= gravatar_for(user, size=32) + ' - ' + link_to(user.email, user) %>
				</td>
				<td>
					<%= button_to "Accept application", group_members_path(group_id: @group.id, user_id: user.id), 
						method: :post, class: "btn btn-mini btn-primary"%>
				</td>
				<td>		
					<%= link_to "Delete Application", 
						group_application_path(@group, user_id: user.id), 
						confirm: 'Are you sure?', method: :delete,
						class: "btn btn-mini btn-danger" %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>