<% if is_group_admin?(group) %>
	<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Modify group
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><%= link_to toggle_status(group) + " group", 
          toggle_status_groups_path(group), method: :put %></li>
				<li><%= link_to "Edit group", edit_group_path(group), 
					method: :get %></li>
				<li><%= link_to "Destroy group", group, confirm: 'Are you sure?', 
					 method: :delete %></li>
			</ul>
	</div>
<% end %>