<h4>Followers <span id="nr_followers">(<%= @user.inverse_friendships.count %>)</span></h4>
<% if @user.inverse_friendships.empty? %>
	&nbsp;
<% else %>
	<% for friendship in @user.inverse_friendships %>
		<a href="<%= user_path(friendship.user) %>">
			<%= gravatar_for friendship.user, size=20 %>
		</a>
	<% end %>
<% end %>