<h4><%= link_to "Followers", followers_user_path(@user) %> 
	<span id="nr_followers">(<%= @user.inverse_friendships.count %>)</span>
</h4>
<% if @user.inverse_friendships.empty? %>
	&nbsp;
<% else %>
	<% for friendship in @user.inverse_friendships %>
		<%= link_to raw(gravatar_for friendship.user, size=20), user_path(friendship.user) %>
	<% end %>
<% end %>