<% @user ||= current_user %>
<div class="friendship_stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="friends" class="stat">
      <%= @user.friends.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="inverse_friends" class="stat">
      <%= @user.inverse_friends.count %>
    </strong>
    followers
  </a>
</div>