<div class="row">
	<div>
		<a href="<%= user_path(current_user) %>">
		  <%= gravatar_for current_user %>
		</a>
	</div>
</div>
<div class="row">
	<div>
  		<%= current_user.email %>
	</div>
	<div>
		<%= pluralize(current_user.blurts.count, "blurt") %>
	</div>
</div>
