<li>
  <span class="content"><%= blurt.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(blurt.created_at) %> ago.
  </span>
  <% if current_user?(blurt.user) %>
    <%= link_to raw("<i class='icon-delete'></i>"), blurt, method:  :delete,
                                     confirm: "You sure?",
                                     title:   blurt.content %>
  <% end %>
</li>