<%= form_for(@post.bookmarks.find_by_user_id(current_user),
             html: { method: :delete },
             remote: true) do |f| %>
	<%= f.hidden_field :post_id %>            
	<span id="nr_bookmarks"><%= @post.bookmarks.count %> bookmarked this</span>
	<%= link_to raw("<i class='icon-remove'></i>"), '#',  :onclick=>"$('#bookmark_form form').submit()",
  	alt: "Remove bookmark", title: "Remove bookmark" %>
<% end %>