<% unless current_user?(@user) %>
  <div id="feature_form">
  <% if current_user.featured?(@post) %>
    <%= render 'unfeature' %>
  <% else %>
    <%= render 'feature' %>
  <% end %>
  </div>
<% end %>