<%= form_for(@post.likes.build, remote: true) do |f| %>
  <div><%= f.hidden_field :post_id %></div>
  <span id="nr_likes"><i class='icon-thumbs-up'></i><%= @post.likes.count %></span>
  <%= link_to raw("<i class='icon-plus-sign'></i>"), '#', :onclick=>"$('#like_form form').submit()",
  	alt: "Promote", title: "Promote" %>
<% end %>