<div>Add reference</div>
Filter box here
<div class="add_references">
	<ul>
	<% @user_bookmarks.each do |bookmarked_post| %>
		<li class="internal">
			<%= link_to gravatar_for(bookmarked_post.user, size = 16), bookmarked_post.user,
        		alt: bookmarked_post.user.name, title: bookmarked_post.user.name %>
			<%= link_to bookmarked_post.title, bookmarked_post,
              alt: preview(bookmarked_post.content, 100),
              title: preview(bookmarked_post.content, 100) %>
            <i class='icon-chevron-right'></i>
			<%= link_to raw("Add reference"), '#', 
				:id => 'reference_'+ bookmarked_post.id.to_s,
				:class => 'reference_link' %>
		</li>
	<% end %>
	</ul>
</div>