<div class="row">
 	<div class="span2">
 		<%= render 'shared/user_info' %>
	</div>
	<div class="span7">
		<%= render @post %>
		<ol class="blurts">
			<%= render partial: 'comments/comment', collection: @comments %>
		</ol>
		<aside>
			<%= render 'shared/comment_form' %>
		</aside>
	</div>
	<div class="span3">
		tags here
	</div>
</div>