<footer class="footer">
  <small>
    <a href="http://iceland.cs.brandeis.edu/coblogger">CoBlogger</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'dashboard/about' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>