<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-pencil"></i> New Post
    <span class="caret"></span>
  </a>
	<ul class="dropdown-menu">
		<% for group in @header_groups %>
			<% if !group.nil? then %>
				<li><%= link_to group.name, new_group_post_path(group) %></li>
			<% end %>
		<% end %>
	</ul>
</div>
