<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="span4">
          User info
        </div>
        <div class="span4 center">
          <%= link_to "CoBlogger", '', id: "logo" %>
        </div>
        <div class="span4">        
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    'dashboard/home' %></li>
              <li><%= link_to "About",    'dashboard/about' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>