<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="span5">
          <%= link_to "Classy", root_path, id: "logo" %>
          <% if signed_in? %>
            <%= render partial: 'layouts/groups' %>
          <% end %>
        </div>
        <% if signed_in? %>
          <%= render partial: 'layouts/search' %>
        <% end %>
        <div class="span5">
          <%= render partial: 'layouts/user_header' %>
        </div>
      </div>
    </div>
  </div>
</header>