<form class="navbar-form pull-right search" action="/search" method="POST">
	<input type="text" placeholder="Search" class="span2">
	<span class="help-inline"><i class="icon-search"></i></span>
</form>